<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Lottery Update</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS only -->
    <link rel='stylesheet' type='text/css' media='screen' href='css/lotteryUpdate.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    

    <!-- Font aware some -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css?fbclid=IwAR1YsW4Cd3uJltNc6k1kJ8R9VzNjmSXk9rjmW32BPoA6LWxNrZBCUY-D4i8" />

</head>
<body>
    
<div class="row">


   <div class="col-12 col-md-4 col-xl-3 clone">

   </div>

    <!-- left (.col- & .col-md- & .col-xl-) # lottery management side bar -->
    <div class="col-12 col-md-4 col-xl-3 leftMain">
        <!--Logo admin chỉ hiển thị trên màn hình desktop-->
        <img class="logoAdmin" style="width:40%; height:auto" src="image/lotteryAdminLogo.png"/>
        <h2>Chào mừng Admin </h2>
        <p>nguyenthanhcong120620@gmail.com</p>
        <h3></h3>
        
        <div class="dashBoard">
         <h4>Quản lý vé dò</h4>
         <ul>
            <li><i class="far fa-address-card"></i><a href="#">Trang chủ</a></li>
            <li><i class="fas fa-user-alt"></i><a href="lotteryMng.html">Quay lại</a></li>
        </ul>        
        </div>

      <div class="leftBottom">
         <ul>
            <li><i class="fas fa-power-off"></i><br/><button><a href="login.html">Đăng xuất</a></button></li>
         </ul>
      </div> 

    </div><!-- left -->

    



    <!-- right (.col- & .col-md- & .col-xl-) # control panel  -->
    <div class="col-12 col-md-8 col-xl-9 rightMain">

        <!--Tiêu đề-->
        <div class="col-12 col-md-12 col-xl-12 titleRightMain">
            <h3>Cập nhật vé: MB001</h3>
        </div>

        <!--Form cập nhập-->
        <form class="formUpdata">

        <!--Bảng cập nhật vé dò-->
        <div class="col-12 col-md-12 col-xl-6 lotteryRightMain">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan=2 style="text-align: center;">MB001</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                      <td>Giải tám</td>
                      <td><input type="text" placeholder="Cập nhật tỉnh/thành phố" name="" /></td>
                   </tr>
                   <tr>
                      <td>Giải bảy</td>
                      <td><input type="text" placeholder="Cập nhật tỉnh/thành phố" name="" /></td>
                   </tr>
                   <tr>
                      <td rowspan=3>Giải sáu</td>
                      <td><input type="text" placeholder="Cập nhật giải sáu 1" name="" />
                      </td>
                    <tr>
                      <td><input type="text" placeholder="Cập nhật giải sáu 2" name="" />
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Cập nhật giải sáu 3" name="" />                    
                        </td>
                    </tr>
                   </tr>

                   <tr>
                    <td>Giải năm</td>
                    <td><input type="text" placeholder="Cập nhật giải năm" name="" /></td>
                 </tr>

                 <tr>
                    <td rowspan=7>Giải tư</td>
                    <td><input type="text" placeholder="Cập nhật giải tư 1" name="" />
                    </td>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải tư 2" name="" />
                  </tr>
                  <tr>
                      <td><input type="text" placeholder="Cập nhật giải tư 3" name="" />                    
                      </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải tư 4" name="" />                    
                    </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải tư 5" name="" />                    
                    </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải tư 6" name="" />                    
                    </td>
                  </tr>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải tư 7" name="" />                    
                    </td>
                  </tr>
                 </tr>

                 <tr>
                    <td rowspan=2>Giải ba</td>
                    <td><input type="text" placeholder="Cập nhật giải ba 1" name="" />
                    </td>
                  <tr>
                    <td><input type="text" placeholder="Cập nhật giải ba 2" name="" />
                  </tr>
                 </tr>

                 <tr>
                    <td>Giải nhì</td>
                    <td><input type="text" placeholder="Cập nhật giải nhì" name="" /></td>
                 </tr>
                 <tr>
                    <td>Giải nhất</td>
                    <td><input type="text" placeholder="Cập nhật giải nhất" name="" /></td>
                 </tr>
                 <tr style="font-weight: bold;">
                    <td>GIẢI ĐẶC BIỆT</td>
                    <td><input type="text" placeholder="Cập nhật giải Đặc biệt" name="" /></td>
                 </tr>
                </tbody>
             </table>
        </div>

        <!--Bảng cập nhật mã vé dò-->
        <div class="col-12 col-md-12 col-xl-6 codeRightMain">
         <div class="updateTable">
             <table class="table table-bordered">
                 <thead>
                    <tr>
                       <td style="width: 45%">Miền</td>
                       <td style="width: 55%">                       
                         <div class="region">
                         <select name="region">
                           <option value="north">Bắc</option>
                           <option value="central">Trung</option>
                           <option value="south">Nam</option>
                           </select>
                         </div>
                       </td>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>Tỉnh/Thành phố</td>
                       <td><input type="text" placeholder="Nhập tên tỉnh/thành phố" name="" /></td>
                    </tr>
                    <tr>
                       <td>Ngày dò</td>
                       <td><div class="day">
                         <select name="day">
                           <option value="day">Ngày</option>
                           <option value="1">1</option> <option value="2">2</option> <option value="3">3</option>
                           <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                           <option value="7">7</option> <option value="8">8</option> <option value="9">9</option>
                           <option value="10">10</option> <option value="11">11</option> <option value="12">12</option>
                           <option value="13">13</option> <option value="14">14</option> <option value="15">15</option>
                           <option value="16">16</option> <option value="17">17</option> <option value="18">18</option>
                           <option value="19">19</option> <option value="20">20</option> <option value="21">21</option>
                           <option value="22">22</option> <option value="23">23</option> <option value="24">24</option>
                           <option value="25">25</option> <option value="26">26</option> <option value="27">27</option>
                           <option value="28">28</option> <option value="29">29</option> <option value="30">30</option>
                           </select>
                         </div>
                         
                         <div class="month">
                           <select name="month">
                             <option value="month">Tháng</option>
                             <option value="1">1</option> <option value="2">2</option> <option value="3">3</option>
                             <option value="4">4</option> <option value="5">5</option> <option value="6">6</option>
                             <option value="7">7</option> <option value="8">8</option> <option value="9">9</option>
                             <option value="10">10</option> <option value="11">11</option> <option value="12">12</option>
                             </select>
                           </div>
               
                           <div class="year">
                           <select name="year">
                             <option value="year">Năm</option>
                             <option value="2022">2022</option> <option value="2021">2021</option> <option value="2020">2020</option>
                             <option value="2019">2019</option> <option value="2018">2018</option> <option value="2017">2017</option>
                             <option value="2016">2016</option> <option value="2015">2015</option> <option value="2014">2014</option>
                             <option value="2013">2013</option> <option value="2012">2012</option> <option value="2011">2011</option>
                             <option value="2010">2010</option> <option value="2009">2009</option> <option value="2008">2008</option>
                             <option value="2007">2007</option>  
                             <option value="2006">2006</option> <option value="2005">2005</option> <option value="2004">2004</option>
                             <option value="2003">2003</option> <option value="2002">2002</option> <option value="2001">2001</option>
                             <option value="2000">2000</option> <option value="1999">1999</option> <option value="1998">1998</option>
                             <option value="1997">1997</option> <option value="1996">1996</option> <option value="1995">1995</option>
                             <option value="1994">1994</option> <option value="1993">1993</option> <option value="1992">1992</option>
                             <option value="1991">1991</option> <option value="1990">1990</option> <option value="1989">1989</option>
                             <option value="1988">1988</option> <option value="1987">1987</option> <option value="1986">1986</option>
                             <option value="1985">1985</option> <option value="1984">1984</option> <option value="1983">1983</option>
                             <option value="1982">1982</option> <option value="1981">1981</option> <option value="1980">1980</option>
                             <option value="1979">1979</option> <option value="1978">1978</option> <option value="1977">1977</option>
                             <option value="1976">1976</option> <option value="1975">1975</option> <option value="1974">1974</option>
                             <option value="1973">1973</option> <option value="1972">1972</option> <option value="1971">1971</option>
                             <option value="1970">1970</option> <option value="1969">1969</option> <option value="1968">1968</option>
                             <option value="1967">1967</option> <option value="1966">1966</option> <option value="1965">1965</option>
                             <option value="1964">1964</option> <option value="1963">1963</option> <option value="1962">1962</option>
                             <option value="1961">1961</option> <option value="1960">1960</option> <option value="1959">1959</option>
                             <option value="1958">1958</option> <option value="1957">1957</option> <option value="1956">1956</option>
                             <option value="1955">1955</option> <option value="1954">1954</option> <option value="1953">1953</option>
                             <option value="1952">1952</option> <option value="1951">1951</option> <option value="1950">1950</option>
                             
                           </select>
                           </div>    
                         </td>
                    </tr>
                 </tbody>
              </table>
         </div>

         <button type="submit" name="">Cập nhật</button>

     </div>
    </form>

    </div> <!-- right -->



</div> <!-- row -->









<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/lotteryUpdate.js"></script>

</body>
</html>